#OurProducts{
    background-color: #d7f3c2;
}

@media screen and (max-width: 550px) {
    .flex-products {
        flex-direction: column;
    }

    .width-forty {
        width: 100%;
    }

    .width-sixty {
        width: 100%;
    }
}