.home-background{
    width: 100%;
    height:35rem;
    line-height: 1.5;
    background: rgba(0,0,0,0.6) url('https://images.unsphttps://i.pinimg.com/originals/dc/8b/c5/dc8bc589df442903fca096c27f076ba2.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slidingbg 20s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-blend-mode: darken;
}

@keyframes slidingbg{
    0% {
        background-image:url('https://images.unsplash.com/photo-1547569231-f0b92318f0a1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80');
    }
    25% {
        background-image:url('https://images.unsplash.com/photo-1524492514790-8310bf594ea4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60');
    }
    50% {
        background-image:url('https://images.unsplash.com/photo-1429044809083-ea30745dd5c6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwfHx8ZW58MHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    }
    75% {
        background-image:url('https://images.unsplash.com/photo-1429044809083-ea30745dd5c6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwfHx8ZW58MHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    }
    100% {
        background-image:url('https://images.unsplash.com/photo-1516002902801-73cb6ddf97a5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    }

}

@media only screen and (max-width:450px){
    .width{
        width: 100%;
        margin: 2%;
    }
}

.text{
    color:white;
    padding-top: 10px;
}
