.margin{
    margin: 5% 0;
}
.parallax{
    background: rgba(0, 0, 0, 0.637) url('./FormBg.png') no-repeat fixed center/cover;
    background-blend-mode: darken;
}

.parallax-inner{
    color: white;
    font-size: 1.4rem;
    padding-bottom:20px ;
}

.parallax-inner p{
    font-size: 2rem;
    margin: 2px;
}

.bg-none{
    background: rgba(255, 255, 255, 0.4);
    outline: none;
    border: 0;
    
}

.bg-none::placeholder{
    color: rgb(37, 37, 37);
    font-size: 1.4rem;
}